//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Footcharts - Football Charts and Graphics';
- const siteDescription = 'Interactive Football Charts and Graphics';
- const siteKeywords = 'Soccer,Football,Charts,Graphics,Interactive,Fixture,League,Premier League,Versus,Compare,Ball,Skills,Points,Win,Draw,Lost';
- const siteAuthor = 'Yellowred';
- const siteRobots = 'noindex,nofollow';
- const siteUrl = 'https://yellowred.info';
- const siteLanguage = 'en-En'

//- Copyright
- const siteCopyright = '20 Temmuz 2020 by YellowRed';

//- Logo Url
- const siteLogoUrl = 'assets/img/template-images/logo.svg';

//- Favicons
- const siteFavicon = 'assets/img/favicons/favicon.svg';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
