-
    var menu = {
                "Home":{
                    "icon":"icon-zaocan",
                    "text":"Home",
                    "link":"index.html",
                    "child":[
                    ],
                    "target":"_blank"
                },
                "Players":{
                    "icon":"icon-zaocan",
                    "text":"Players",
                    "link":"index.html",
                    "child":[
                        {
                            "text":"Players Skills",
                            "link":"players-skilss.html"
                        },
                        {
                            "text":"Players Versus",
                            "link":"players-versus.html"
                        },
                        {
                            "text":"Player Passes",
                            "link":"players-passes.html"
                        },
                        {
                            "text":"Players Compare",
                            "link":"players-compare.html"
                        }
                    ],
                    "target":"_blank"
                },
                "Teams":{
                    "icon":"icon-zaocan",
                    "text":"Teams",
                    "link":"index.html",
                    "child":[
                        {
                            "text":"Team Passes",
                            "link":"team-passes.html"
                        },
                        {
                            "text":"Teams Compare",
                            "link":"teams-compare.html"
                        }
                    ],
                    "target":"_blank"
                },
                "Leagues":{
                    "icon":"icon-zaocan",
                    "text":"Leagues",
                    "link":"index.html",
                    "child":[
                        {
                            "text":"Fixture",
                            "link":"fixture.html"
                        },
                        {
                            "text":"League Table",
                            "link":"league-table.html"
                        }
                    ],
                    "target":"_blank"
                },
                "Change Log":{
                    "icon":"icon-jinnang",
                    "text":"Change Log",
                    "link":"change-log.html",
                    "sidebarBadge":"New",
                    "child":[
                    ]
                },
                "Docs":{
                    "icon":"icon-zaocan",
                    "text":"Docs",
                    "link":"./assets/docs",
                    "child":[
                    ],
                    "target":"_blank"
                }
                };
