+line
+c('Scripts')
+vendorscript('jquery','jquery/dist',true)
+vendorscript('semantic','fomantic-ui/dist',true)
+vendorscript('metisMenu','metisMenu/dist',true)
+vendorscript('echarts-en','echarts/dist',true)

+script('app')
- if (isThemeforestTheme) {
- }
