extends layouts/default
block pageVars
	- var page = "index"
	//- - var pageTitle = "Homepage"
block content
	.page-container
		.card
			a Themeforest Template
			p Themeforest Template
			.theme-switch-wrapper
				label(for='theme-btn')
					input#theme-btn(type='checkbox')
					.slider-wrapper
						.theme-btn-slider
						span.star.star-1
						span.star.star-2
						span.star.star-3
						span.star.star-4
						span.star.star-5
						span.star.star-6

