extends layouts/default
block pageVars
	- var page = "index"
	//- - var pageTitle = "Homepage"
block content
	.ui.grid.container.stackable
		.row
			.column
				.ui.three.cards
					.ui.card
						.image
							img(src='assets/img/sample/ex-4.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
						.extra.content
							a


					.ui.card
						.image
							img(src='assets/img/sample/ex-3.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
						.extra.content
							a


					.ui.card
						.image
							img(src='assets/img/sample/ex-6.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
						.extra.content
							a


		.row
			.column
				.ui.three.cards
					.ui.card
						.image
							img(src='assets/img/sample/ex-4.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
						.extra.content
							a


					.ui.card
						.image
							img(src='assets/img/sample/ex-3.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
						.extra.content
							a


					.ui.card
						.image
							img(src='assets/img/sample/ex-6.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
		.row
			.column
				.ui.three.cards
					.ui.card
						.image
							img(src='assets/img/sample/ex-4.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
					.ui.card
						.image
							img(src='assets/img/sample/ex-3.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.
					.ui.card
						.image
							img(src='assets/img/sample/ex-6.png')
						.content
							a.header Kristy
							.meta
								span.date Joined in 2013
							.description
								| Kristy is an art director living in New York.



