extends layouts/default
block pageVars
	- var page = "playerSkills"
	- var pageTitle = "Player Skills"
block content
	.ui.stackable.grid
		.row
			.sixteen.wide.column
				.select-menu
					.ui.fluid.form
						.three.fields
							.field
								.ui.fluid.search.selection.dropdown.league-select
									input(type='hidden', name='league')
									i.dropdown.icon
									.default.text Select League
									.menu.league-menu
										.item(data-value='premier-league')
											img(class="ui avatar image",src="./assets/img/leagues/premier-league/logo.png")
											| Premier League
										.item(data-value='laliga')
											img(class="ui avatar image",src="./assets/img/leagues/laliga/logo.png")
											| La Liga
										.item(data-value='serie-a')
											img(class="ui avatar image",src="./assets/img/leagues/serie-a/logo.png")
											| Seria A
										.item(data-value='bundesliga')
											img(class="ui avatar image",src="./assets/img/leagues/bundesliga/logo.png")
											| Bundesliga
										.item(data-value='league-1')
											img(class="ui avatar image",src="./assets/img/leagues/league-1/logo.png")
											| League 1
										.item(data-value='super-league')
											img(class="ui avatar image",src="./assets/img/leagues/super-league/logo.png")
											| Super League
							.field
								.ui.fluid.search.selection.dropdown.week-select
									input(type='hidden', name='week')
									i.dropdown.icon
									.default.text Select Week
									.menu.week-menu
							.field
								.ui.fluid.search.selection.dropdown.color-select
									input(type='hidden', name='color')
									i.dropdown.icon
									.default.text Select Color
									.menu.league-menu
										.item(data-value='27,153,139')
											i(class="icon circle",style="color:rgba(27,153,139,1)")
											| Green
										.item(data-value='219,84,97')
											i(class="icon circle",style="color:rgba(219,84,97,1)")
											| Red
										.item(data-value='55, 0, 60')
											i(class="icon circle",style="color:rgba(55, 0, 60,1)")
											| Purple
										.item(data-value='66, 129, 164')
											i(class="icon circle",style="color:rgba(66, 129, 164,1)")
											| Blue
										.item(data-value='242, 100, 48')
											i(class="icon circle",style="color:rgba(242, 100, 48,1)")
											| Orange
										.item(data-value='89, 87, 88')
											i(class="icon circle",style="color:rgba(89, 87, 88,1)")
											| Grey
			.sixteen.wide.column
				.ui.segment.table-segment
					.chartli(id="table",style="height:1250px")
block extraScripts
	+script('charts/_league-table',true)

