extends layouts/default
block pageVars
	- var page = "playerSkills"
	- var pageTitle = "Player Skills"
block content
	.ui.stackable.grid
		.row
			.column
				h3.ui.center.aligned.header This page is experimental
				.ui.hidden.divider
				#singleGame(class="chartli",style="height:1580px;width:100%")
block extraScripts
	+script('charts/_single-game',true)

