nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
	.container
		a.navbar-brand.logo-image(href='index.html')
			img(src='assets/img/prod/logo-white.svg', alt='alternative')
			|	Footcharts
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-awesome.fas.fa-bars
			span.navbar-toggler-awesome.fas.fa-times
		#navbarsExampleDefault.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item
					a.nav-link.page-scroll(href='#header')
						| HOME
						span.sr-only (current)
				li.nav-item
					a.nav-link.page-scroll(href='#features') FEATURES
				li.nav-item
					a.nav-link.page-scroll(href='#pricing') BUY NOW
