:root {
	--green: rgba(27, 153, 139, 1);
	--purple: rgba(55, 0, 60, 1);
	--red: rgba(219, 84, 97, 1);
	--blue: rgba(66, 129, 164, 1);
	--orange: rgba(242, 100, 48, 1);
	--grey: rgba(89, 87, 88, 1);
}
